@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">  
    <h1 class="display-4 text-capitalize text-black">Welcome to Razor Sharp Pizzer</h1>
    <h2>We are the best when it comes to what goes to the mouth.</h2>
    </div>
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Pizza">GET ME THAT PIZZA</a>
    
</div>
